In [1]:
import pandas as pd
import os

In [2]:
#import table 5 file
df = pd.read_csv(r'../raw_data/Table19_Unique_Employers_Positive_LMIAs_By_Stream_Province_2016_2023.csv', encoding='ISO-8859-1')
df.tail(20)

,Number of Unique Employers Who Received a Positive Labour Market Impact Assessments (LMIA) by Stream and Province/Territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
127,Permanent Resident Only,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,Northwest Territories Total,21,29,19,35,19,16,36,36
130,Nunavut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Program Stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,2016,2017,2018,2019,2020,2021,2022,2023
133,High-Wage,10,6,5,3,5,6,4,6
134,Low-Wage,13,6,10,10,5,8,12,7
135,Primary Agriculture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Global Talent,0,0,0,0,0,0,0,1
137,Permanent Resident Only,0,1,0,0,0,0,0,0
138,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Nunavut Total,18,13,12,11,9,11,14,11
140,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,1. The source for all information in this repo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,2. As of the publication of 2023 annual data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,3. The sum of the unique employers by Program ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,4. Each LMIA application submitted is restrict...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,"5. The LMIA System tracks TFW positions only, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,6. The numbers appearing in this release may d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.iloc[:-7]

In [4]:
df.tail(15)

,Number of Unique Employers Who Received a Positive Labour Market Impact Assessments (LMIA) by Stream and Province/Territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
125,Primary Agriculture,0,0,0,1,1,1,1,0
126,Global Talent,0,0,0,0,0,0,1,2
127,Permanent Resident Only,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,Northwest Territories Total,21,29,19,35,19,16,36,36
130,Nunavut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Program Stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,2016,2017,2018,2019,2020,2021,2022,2023
133,High-Wage,10,6,5,3,5,6,4,6
134,Low-Wage,13,6,10,10,5,8,12,7
135,Primary Agriculture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Global Talent,0,0,0,0,0,0,0,1
137,Permanent Resident Only,0,1,0,0,0,0,0,0
138,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Nunavut Total,18,13,12,11,9,11,14,11

In [5]:
df.head(15)

,Number of Unique Employers Who Received a Positive Labour Market Impact Assessments (LMIA) by Stream and Province/Territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Program Stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023
3,High-Wage,"5,504","6,006","5,225","9,935","8,594","8,623","15,948","17,309"
4,Low-Wage,"10,220","11,594","12,547","15,086","11,379","12,603","22,687","28,783"
5,Primary Agriculture,"3,469","3,821","4,280","6,434","4,950","5,217","5,903","6,297"
6,Global Talent,0,297,735,"1,349","1,139","1,347","1,807","1,563"
7,Permanent Resident Only,"1,794",910,741,967,"1,706","1,090","1,179","3,133"
8,Unspecified,13,2,0,0,0,0,0,0
9,Canada-Total,"20,296","21,915","22,861","32,494","26,336","27,652","43,703","52,198"
10,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Program Stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,2016,2017,2018,2019,2020,2021,2022,2023
13,High-Wage,158,138,76,81,46,33,51,60
14,Low-Wage,63,38,30,32,26,31,62,73

In [6]:
# Define new column names in the desired order
new_column_names = ['Program Stream', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

# Rename the columns by mapping the old names to the new names in order
df.columns = new_column_names

In [7]:
df

,Program Stream,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Program Stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023
3,High-Wage,"5,504","6,006","5,225","9,935","8,594","8,623","15,948","17,309"
4,Low-Wage,"10,220","11,594","12,547","15,086","11,379","12,603","22,687","28,783"
...,...,...,...,...,...,...,...,...,...
135,Primary Agriculture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Global Talent,0,0,0,0,0,0,0,1
137,Permanent Resident Only,0,1,0,0,0,0,0,0
138,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Nunavut Total,18,13,12,11,9,11,14,11

In [8]:
#drop "program stream" row
df = df[df['Program Stream'].str.strip().str.lower() != 'program stream']

In [9]:
df

,Program Stream,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023
3,High-Wage,"5,504","6,006","5,225","9,935","8,594","8,623","15,948","17,309"
4,Low-Wage,"10,220","11,594","12,547","15,086","11,379","12,603","22,687","28,783"
5,Primary Agriculture,"3,469","3,821","4,280","6,434","4,950","5,217","5,903","6,297"
...,...,...,...,...,...,...,...,...,...
135,Primary Agriculture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Global Talent,0,0,0,0,0,0,0,1
137,Permanent Resident Only,0,1,0,0,0,0,0,0
138,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Nunavut Total,18,13,12,11,9,11,14,11

In [10]:
#Create a new column for province/region name
df['province_region'] = df['Program Stream'].where(df['2016'].isna() & ~df['Program Stream'].str.contains('Total', na=False))
#  Forward-fill the region name for all rows until a new region is found
df['province_region'] = df['province_region'].ffill()
#  Remove rows that contain "Total" adn Nan value (since these are summary rows)
df = df[~df['Program Stream'].str.contains('Total', na=False)]

C:\Users\Johnn\AppData\Local\Temp\ipykernel_22936\3528940109.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['province_region'] = df['Program Stream'].where(df['2016'].isna() & ~df['Program Stream'].str.contains('Total', na=False))
C:\Users\Johnn\AppData\Local\Temp\ipykernel_22936\3528940109.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['province_region'] = df['province_region'].ffill()

In [11]:
df

,Program Stream,2016,2017,2018,2019,2020,2021,2022,2023,province_region
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023,Canada
3,High-Wage,"5,504","6,006","5,225","9,935","8,594","8,623","15,948","17,309",Canada
4,Low-Wage,"10,220","11,594","12,547","15,086","11,379","12,603","22,687","28,783",Canada
5,Primary Agriculture,"3,469","3,821","4,280","6,434","4,950","5,217","5,903","6,297",Canada
...,...,...,...,...,...,...,...,...,...,...
134,Low-Wage,13,6,10,10,5,8,12,7,Nunavut
135,Primary Agriculture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primary Agriculture
136,Global Talent,0,0,0,0,0,0,0,1,Primary Agriculture
137,Permanent Resident Only,0,1,0,0,0,0,0,0,Primary Agriculture
138,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified

In [12]:
df =df.dropna(how='any')

In [13]:
df.head(20)

,Program Stream,2016,2017,2018,2019,2020,2021,2022,2023,province_region
3,High-Wage,"5,504","6,006","5,225","9,935","8,594","8,623","15,948","17,309",Canada
4,Low-Wage,"10,220","11,594","12,547","15,086","11,379","12,603","22,687","28,783",Canada
5,Primary Agriculture,"3,469","3,821","4,280","6,434","4,950","5,217","5,903","6,297",Canada
6,Global Talent,0,297,735,"1,349","1,139","1,347","1,807","1,563",Canada
7,Permanent Resident Only,"1,794",910,741,967,"1,706","1,090","1,179","3,133",Canada
8,Unspecified,13,2,0,0,0,0,0,0,Canada
13,High-Wage,158,138,76,81,46,33,51,60,Newfoundland and Labrador
14,Low-Wage,63,38,30,32,26,31,62,73,Newfoundland and Labrador
15,Primary Agriculture,9,11,12,17,16,14,16,19,Newfoundland and Labrador
16,Global Talent,0,0,2,2,1,7,3,5,Newfoundland and Labrador
17,Permanent Resident Only,3,3,0,1,0,1,0,2,Newfoundland and Labrador
23,High-Wage,13,15,9,15,12,14,19,25,Prince Edward Island
24,Low-Wage,20,18,18,25,19,22,54,63,Prince Edward Island
25,Primary Agriculture,38,33,42,55,43,48,61,61,Prince Edward Island
26,Global Talent,0,0,1,2,7,2,4,3,Prince Edward Island
27,Permanent Resident Only,0,0,0,1,0,0,0,1,Prince Edward Island
33,High-Wage,115,92,73,77,51,72,120,166,Nova Scotia
34,Low-Wage,73,75,68,72,77,104,254,353,Nova Scotia
35,Primary Agriculture,72,83,90,129,92,102,105,111,Nova Scotia
36,Global Talent,0,4,6,17,18,33,35,34,Nova Scotia

In [14]:
#Define the dedicated folder path
folder_path = 'C:/Users/Johnn/Desktop/Data Engineer project/LMIA_evaluation_project/clean_data'
csv_file = os.path.join(folder_path, 'lmia_unique_positive_employers_by_stream_prov.csv')

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)