In [58]:
import pandas as pd
import os

In [59]:
#import table 5 file
df = pd.read_csv(r'../raw_data/Table21_Unique_Employers_Positive_LMIAs_By_NAICS_Province_2016_2023.csv', encoding='ISO-8859-1')
df.tail(20)

,Number of Unique Employers on Positive Labour Market Impact Assessments (LMIA) by North American Industry Classification System - 2002 (NAICS) and Province/Territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
351,52 Finance and Insurance,0,0,0,0,0,0,0,0
352,"53 Real Estate, Rental and Leasing",0,0,0,0,0,0,0,0
353,"54 Professional, Scientific and Technical Serv...",2,0,0,0,1,1,1,2
354,55 Management of Companies and Enterprises,0,0,0,0,0,0,0,0
355,"56 Administrative and Support, Waste Managemen...",2,1,1,1,1,1,1,1
356,61 Educational Services,0,0,0,0,0,0,0,0
357,62 Health Care and Social Assistance,1,1,1,0,0,2,2,1
358,"71 Arts, Entertainment and Recreation",1,1,0,0,0,0,0,0
359,72 Accommodation and Food Services,0,0,1,4,1,1,6,0
360,81 Other Services (except Public Administration),5,6,3,2,2,2,1,0
361,91 Public Administration,0,0,0,0,0,0,0,0
362,Services-Producing Industry Sectors - Total,17,12,12,11,7,11,12,10
363,Nunavut Total,18,13,12,11,9,11,14,11
364,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,1. The source for all information in this repo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,2. As of the publication of 2023 annual data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,3. The sum of the unique employers by industry...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,4. Each LMIA application submitted is restrict...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,"5. The LMIA System tracks TFW positions only, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,6. The numbers appearing in this release may d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df = df.iloc[:-7]
df.tail()

,Number of Unique Employers on Positive Labour Market Impact Assessments (LMIA) by North American Industry Classification System - 2002 (NAICS) and Province/Territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
359,72 Accommodation and Food Services,0,0,1,4,1,1,6,0
360,81 Other Services (except Public Administration),5,6,3,2,2,2,1,0
361,91 Public Administration,0,0,0,0,0,0,0,0
362,Services-Producing Industry Sectors - Total,17,12,12,11,7,11,12,10
363,Nunavut Total,18,13,12,11,9,11,14,11

In [61]:
df.head(15)

,Number of Unique Employers on Positive Labour Market Impact Assessments (LMIA) by North American Industry Classification System - 2002 (NAICS) and Province/Territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NAICS Codes and Industry Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023
3,"11 Agriculture, Forestry, Fishing and Hunting","3,501","3,862","4,344","6,580","5,062","5,320","6,084","6,474"
4,21 Mining and Oil and Gas Extraction,90,77,90,107,66,55,108,131
5,22 Utilities,42,29,39,34,26,18,38,51
6,23 Construction,"1,115","1,280","1,223","2,344","1,913","2,323","4,200","4,885"
7,31-33 Manufacturing,"1,086","1,103","1,080","1,823","1,956","2,035","3,838","4,260"
8,Goods-Producing Industry Sectors - Total,"5,834","6,351","6,776","10,888","9,023","9,751","14,268","15,801"
9,41 Wholesale Trade,371,335,548,422,458,407,803,981
10,44-45 Retail Trade,935,967,805,"1,707","1,725","1,584","3,204","4,336"
11,48-49 Transportation and Warehousing,472,585,527,"1,457","1,302","1,083","2,200","2,633"
12,51 Information and Cultural Industries,560,380,342,471,364,330,546,549
13,52 Finance and Insurance,100,113,100,142,174,161,266,399
14,"53 Real Estate, Rental and Leasing",97,85,52,104,139,127,305,477

In [62]:
# Define new column names in the desired order
new_column_names = ['NAICS_Codes_Industry_Sectors', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

# Rename the columns by mapping the old names to the new names in order
df.columns = new_column_names

#  Remove rows that contain "Occupational Skill Level" adn Nan value (since these are summary rows)
df = df[~df['NAICS_Codes_Industry_Sectors'].str.contains('NAICS', na=True)]

In [63]:
df.head(20)

,NAICS_Codes_Industry_Sectors,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"11 Agriculture, Forestry, Fishing and Hunting","3,501","3,862","4,344","6,580","5,062","5,320","6,084","6,474"
4,21 Mining and Oil and Gas Extraction,90,77,90,107,66,55,108,131
5,22 Utilities,42,29,39,34,26,18,38,51
6,23 Construction,"1,115","1,280","1,223","2,344","1,913","2,323","4,200","4,885"
7,31-33 Manufacturing,"1,086","1,103","1,080","1,823","1,956","2,035","3,838","4,260"
8,Goods-Producing Industry Sectors - Total,"5,834","6,351","6,776","10,888","9,023","9,751","14,268","15,801"
9,41 Wholesale Trade,371,335,548,422,458,407,803,981
10,44-45 Retail Trade,935,967,805,"1,707","1,725","1,584","3,204","4,336"
11,48-49 Transportation and Warehousing,472,585,527,"1,457","1,302","1,083","2,200","2,633"
12,51 Information and Cultural Industries,560,380,342,471,364,330,546,549
13,52 Finance and Insurance,100,113,100,142,174,161,266,399
14,"53 Real Estate, Rental and Leasing",97,85,52,104,139,127,305,477
15,"54 Professional, Scientific and Technical Serv...","1,122","1,152","1,249","2,106","2,039","2,255","3,647","4,160"
16,55 Management of Companies and Enterprises,35,26,17,27,16,17,43,41
17,"56 Administrative and Support, Waste Managemen...",342,391,355,789,786,774,"1,763","2,102"
18,61 Educational Services,208,229,198,296,316,296,449,524
19,62 Health Care and Social Assistance,392,411,538,691,802,818,"1,528","2,200"
20,"71 Arts, Entertainment and Recreation",295,262,234,230,147,137,278,340
21,72 Accommodation and Food Services,"3,220","3,583","3,191","6,449","5,349","5,067","10,379","12,741"

In [64]:
#Create a new column for province/region name
df['province_region'] = df['NAICS_Codes_Industry_Sectors'].where(df['2016'].isna() & ~df['NAICS_Codes_Industry_Sectors'].str.contains('Total', na=False))
#  Forward-fill the region name for all rows until a new region is found
df['province_region'] = df['province_region'].ffill()
#  Remove rows that contain "Total" adn Nan value (since these are summary rows)
df = df[~df['NAICS_Codes_Industry_Sectors'].str.contains('Total', na=False)]

In [65]:
df.sample(20)

,NAICS_Codes_Industry_Sectors,2016,2017,2018,2019,2020,2021,2022,2023,province_region
231,91 Public Administration,0,1,0,0,0,0,0,1,Saskatchewan
15,"54 Professional, Scientific and Technical Serv...","1,122","1,152","1,249","2,106","2,039","2,255","3,647","4,160",Canada
99,72 Accommodation and Food Services,45,40,34,42,43,44,157,233,Nova Scotia
185,"11 Agriculture, Forestry, Fishing and Hunting",59,60,68,105,72,84,109,106,Manitoba
18,61 Educational Services,208,229,198,296,316,296,449,524,Canada
59,31-33 Manufacturing,12,11,11,14,11,14,20,23,Prince Edward Island
114,44-45 Retail Trade,1,2,2,10,12,20,26,31,New Brunswick
277,"56 Administrative and Support, Waste Managemen...",91,119,100,302,268,301,554,516,British Columbia
31,22 Utilities,3,1,4,0,0,0,0,1,Newfoundland and Labrador
62,44-45 Retail Trade,0,0,1,1,1,2,4,5,Prince Edward Island
120,55 Management of Companies and Enterprises,0,0,0,0,1,2,1,0,New Brunswick
208,Saskatchewan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saskatchewan
57,22 Utilities,1,0,0,0,0,0,0,0,Prince Edward Island
134,21 Mining and Oil and Gas Extraction,4,3,4,7,7,10,23,26,Quebec
74,81 Other Services (except Public Administration),1,0,0,4,1,2,4,7,Prince Edward Island
278,61 Educational Services,65,82,57,95,105,123,162,149,British Columbia
224,55 Management of Companies and Enterprises,0,0,0,0,0,0,0,0,Saskatchewan
116,51 Information and Cultural Industries,1,0,0,2,0,0,0,1,New Brunswick
124,"71 Arts, Entertainment and Recreation",3,1,2,0,1,1,4,2,New Brunswick
52,Prince Edward Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prince Edward Island

In [66]:
df = df.dropna(how='any')

In [67]:
df.head(20)

,NAICS_Codes_Industry_Sectors,2016,2017,2018,2019,2020,2021,2022,2023,province_region
3,"11 Agriculture, Forestry, Fishing and Hunting","3,501","3,862","4,344","6,580","5,062","5,320","6,084","6,474",Canada
4,21 Mining and Oil and Gas Extraction,90,77,90,107,66,55,108,131,Canada
5,22 Utilities,42,29,39,34,26,18,38,51,Canada
6,23 Construction,"1,115","1,280","1,223","2,344","1,913","2,323","4,200","4,885",Canada
7,31-33 Manufacturing,"1,086","1,103","1,080","1,823","1,956","2,035","3,838","4,260",Canada
9,41 Wholesale Trade,371,335,548,422,458,407,803,981,Canada
10,44-45 Retail Trade,935,967,805,"1,707","1,725","1,584","3,204","4,336",Canada
11,48-49 Transportation and Warehousing,472,585,527,"1,457","1,302","1,083","2,200","2,633",Canada
12,51 Information and Cultural Industries,560,380,342,471,364,330,546,549,Canada
13,52 Finance and Insurance,100,113,100,142,174,161,266,399,Canada
14,"53 Real Estate, Rental and Leasing",97,85,52,104,139,127,305,477,Canada
15,"54 Professional, Scientific and Technical Serv...","1,122","1,152","1,249","2,106","2,039","2,255","3,647","4,160",Canada
16,55 Management of Companies and Enterprises,35,26,17,27,16,17,43,41,Canada
17,"56 Administrative and Support, Waste Managemen...",342,391,355,789,786,774,"1,763","2,102",Canada
18,61 Educational Services,208,229,198,296,316,296,449,524,Canada
19,62 Health Care and Social Assistance,392,411,538,691,802,818,"1,528","2,200",Canada
20,"71 Arts, Entertainment and Recreation",295,262,234,230,147,137,278,340,Canada
21,72 Accommodation and Food Services,"3,220","3,583","3,191","6,449","5,349","5,067","10,379","12,741",Canada
22,81 Other Services (except Public Administration),"6,519","7,237","8,575","7,404","4,396","5,509","5,739","6,548",Canada
23,91 Public Administration,27,29,30,41,35,51,93,149,Canada

In [68]:
# Extract the skill level (numbers) and definition (industry sector)
df[['NAICS_Codes', 'Industry_Sector']] = df['NAICS_Codes_Industry_Sectors'].str.extract(r'(\d{2,3}-\d{2,3}|\d+) (.*)')

# Drop the original column after splitting
df = df.drop(columns=['NAICS_Codes_Industry_Sectors'])

In [69]:
df.head(20)

,2016,2017,2018,2019,2020,2021,2022,2023,province_region,NAICS_Codes,Industry_Sector
3,"3,501","3,862","4,344","6,580","5,062","5,320","6,084","6,474",Canada,11,"Agriculture, Forestry, Fishing and Hunting"
4,90,77,90,107,66,55,108,131,Canada,21,Mining and Oil and Gas Extraction
5,42,29,39,34,26,18,38,51,Canada,22,Utilities
6,"1,115","1,280","1,223","2,344","1,913","2,323","4,200","4,885",Canada,23,Construction
7,"1,086","1,103","1,080","1,823","1,956","2,035","3,838","4,260",Canada,31-33,Manufacturing
9,371,335,548,422,458,407,803,981,Canada,41,Wholesale Trade
10,935,967,805,"1,707","1,725","1,584","3,204","4,336",Canada,44-45,Retail Trade
11,472,585,527,"1,457","1,302","1,083","2,200","2,633",Canada,48-49,Transportation and Warehousing
12,560,380,342,471,364,330,546,549,Canada,51,Information and Cultural Industries
13,100,113,100,142,174,161,266,399,Canada,52,Finance and Insurance
14,97,85,52,104,139,127,305,477,Canada,53,"Real Estate, Rental and Leasing"
15,"1,122","1,152","1,249","2,106","2,039","2,255","3,647","4,160",Canada,54,"Professional, Scientific and Technical Services"
16,35,26,17,27,16,17,43,41,Canada,55,Management of Companies and Enterprises
17,342,391,355,789,786,774,"1,763","2,102",Canada,56,"Administrative and Support, Waste Management a..."
18,208,229,198,296,316,296,449,524,Canada,61,Educational Services
19,392,411,538,691,802,818,"1,528","2,200",Canada,62,Health Care and Social Assistance
20,295,262,234,230,147,137,278,340,Canada,71,"Arts, Entertainment and Recreation"
21,"3,220","3,583","3,191","6,449","5,349","5,067","10,379","12,741",Canada,72,Accommodation and Food Services
22,"6,519","7,237","8,575","7,404","4,396","5,509","5,739","6,548",Canada,81,Other Services (except Public Administration)
23,27,29,30,41,35,51,93,149,Canada,91,Public Administration

In [71]:
# Define the desired column order
desired_order = ['province_region', 'NAICS_Codes','Industry_Sector', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
# Reorder the DataFrame using the desired column order
df = df[desired_order]

In [72]:
df

,province_region,NAICS_Codes,Industry_Sector,2016,2017,2018,2019,2020,2021,2022,2023
3,Canada,11,"Agriculture, Forestry, Fishing and Hunting","3,501","3,862","4,344","6,580","5,062","5,320","6,084","6,474"
4,Canada,21,Mining and Oil and Gas Extraction,90,77,90,107,66,55,108,131
5,Canada,22,Utilities,42,29,39,34,26,18,38,51
6,Canada,23,Construction,"1,115","1,280","1,223","2,344","1,913","2,323","4,200","4,885"
7,Canada,31-33,Manufacturing,"1,086","1,103","1,080","1,823","1,956","2,035","3,838","4,260"
...,...,...,...,...,...,...,...,...,...,...,...
357,Nunavut,62,Health Care and Social Assistance,1,1,1,0,0,2,2,1
358,Nunavut,71,"Arts, Entertainment and Recreation",1,1,0,0,0,0,0,0
359,Nunavut,72,Accommodation and Food Services,0,0,1,4,1,1,6,0
360,Nunavut,81,Other Services (except Public Administration),5,6,3,2,2,2,1,0
361,Nunavut,91,Public Administration,0,0,0,0,0,0,0,0

In [73]:
df = df.reset_index(drop=True)

In [74]:
df

,province_region,NAICS_Codes,Industry_Sector,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,11,"Agriculture, Forestry, Fishing and Hunting","3,501","3,862","4,344","6,580","5,062","5,320","6,084","6,474"
1,Canada,21,Mining and Oil and Gas Extraction,90,77,90,107,66,55,108,131
2,Canada,22,Utilities,42,29,39,34,26,18,38,51
3,Canada,23,Construction,"1,115","1,280","1,223","2,344","1,913","2,323","4,200","4,885"
4,Canada,31-33,Manufacturing,"1,086","1,103","1,080","1,823","1,956","2,035","3,838","4,260"
...,...,...,...,...,...,...,...,...,...,...,...
275,Nunavut,62,Health Care and Social Assistance,1,1,1,0,0,2,2,1
276,Nunavut,71,"Arts, Entertainment and Recreation",1,1,0,0,0,0,0,0
277,Nunavut,72,Accommodation and Food Services,0,0,1,4,1,1,6,0
278,Nunavut,81,Other Services (except Public Administration),5,6,3,2,2,2,1,0
279,Nunavut,91,Public Administration,0,0,0,0,0,0,0,0

In [75]:
#Define the dedicated folder path
folder_path = 'C:/Users/Johnn/Desktop/Data Engineer project/LMIA_evaluation_project/clean_data'
csv_file = os.path.join(folder_path, 'lmia_unique_positive_employers_by_naics_prov.csv')

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)