In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv(r'../raw_data/Table16_Positive_LMIAs_By_NOC_SkillLevel_Province_2016_2023.csv', encoding='ISO-8859-1')
df.tail(20)

,Number of Positive Labour Market Impact Assessments (LMIAs) by National Occupational Classification - 2011 (NOC) Occupational Skill Level and Province/Territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
113,B - Skilled and Technical,24,23,7,19,14,11,38,29
114,C - Intermediate and Clerical,32,18,12,12,8,6,2,9
115,D - Elemental and Labourers,0,1,0,2,1,2,10,13
116,Northwest Territories Total,60,45,20,38,23,21,55,54
117,Nunavut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Occupational Skill Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,2016,2017,2018,2019,2020,2021,2022,2023
120,0 - Management Occupations,2,1,4,0,1,0,2,0
121,A - Professionals,7,2,8,1,0,5,0,2
122,B - Skilled and Technical,31,8,51,34,14,30,28,53
123,C - Intermediate and Clerical,87,16,33,23,7,7,8,19
124,D - Elemental and Labourers,3,0,8,2,1,1,3,8
125,Nunavut Total,130,27,104,60,23,43,41,82
126,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,1. The source for all information in this repo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,2. As of the publication of 2023 annual data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,"3. Effective November 2016, NOC 2011 is being ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,4. Each LMIA application submitted is restrict...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,"5. The LMIA System tracks TFW positions only, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,6. The numbers appearing in this release may d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.iloc[:-7]

In [4]:
df.tail()

,Number of Positive Labour Market Impact Assessments (LMIAs) by National Occupational Classification - 2011 (NOC) Occupational Skill Level and Province/Territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
121,A - Professionals,7,2,8,1,0,5,0,2
122,B - Skilled and Technical,31,8,51,34,14,30,28,53
123,C - Intermediate and Clerical,87,16,33,23,7,7,8,19
124,D - Elemental and Labourers,3,0,8,2,1,1,3,8
125,Nunavut Total,130,27,104,60,23,43,41,82

In [5]:
df.head(20)

,Number of Positive Labour Market Impact Assessments (LMIAs) by National Occupational Classification - 2011 (NOC) Occupational Skill Level and Province/Territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Occupational Skill Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023
3,0 - Management Occupations,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460"
4,A - Professionals,"4,121","3,385","3,947","5,423","4,856","6,134","10,641","8,393"
5,B - Skilled and Technical,"14,205","14,716","13,239","21,375","19,654","19,318","41,203","46,485"
6,C - Intermediate and Clerical,"14,667","15,402","17,873","18,568","15,594","17,539","22,966","25,603"
7,D - Elemental and Labourers,652,620,591,"1,597","1,455","1,596","6,805","11,207"
8,Canada Total,"35,479","35,824","37,102","49,144","44,207","47,157","85,514","96,159"
9,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Occupational Skill Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,2016,2017,2018,2019,2020,2021,2022,2023
12,0 - Management Occupations,67,34,14,9,16,22,10,13
13,A - Professionals,131,83,21,34,41,41,41,48
14,B - Skilled and Technical,813,715,220,225,328,249,353,261
15,C - Intermediate and Clerical,217,188,37,53,88,67,74,93
16,D - Elemental and Labourers,12,11,2,2,6,7,46,56
17,Newfoundland and Labrador Total,"1,240","1,031",294,323,479,386,524,471
18,Prince Edward Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Occupational Skill Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Define new column names in the desired order
new_column_names = ['Occupational Skill Level', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

# Rename the columns by mapping the old names to the new names in order
df.columns = new_column_names

In [7]:
df.head(25)

,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Occupational Skill Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023
3,0 - Management Occupations,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460"
4,A - Professionals,"4,121","3,385","3,947","5,423","4,856","6,134","10,641","8,393"
5,B - Skilled and Technical,"14,205","14,716","13,239","21,375","19,654","19,318","41,203","46,485"
6,C - Intermediate and Clerical,"14,667","15,402","17,873","18,568","15,594","17,539","22,966","25,603"
7,D - Elemental and Labourers,652,620,591,"1,597","1,455","1,596","6,805","11,207"
8,Canada Total,"35,479","35,824","37,102","49,144","44,207","47,157","85,514","96,159"
9,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Occupational Skill Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,2016,2017,2018,2019,2020,2021,2022,2023
12,0 - Management Occupations,67,34,14,9,16,22,10,13
13,A - Professionals,131,83,21,34,41,41,41,48
14,B - Skilled and Technical,813,715,220,225,328,249,353,261
15,C - Intermediate and Clerical,217,188,37,53,88,67,74,93
16,D - Elemental and Labourers,12,11,2,2,6,7,46,56
17,Newfoundland and Labrador Total,"1,240","1,031",294,323,479,386,524,471
18,Prince Edward Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Occupational Skill Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,2016,2017,2018,2019,2020,2021,2022,2023
21,0 - Management Occupations,8,4,3,3,9,6,3,5
22,A - Professionals,41,11,2,5,6,3,8,3
23,B - Skilled and Technical,24,34,12,26,20,26,67,67
24,C - Intermediate and Clerical,73,87,95,92,109,110,155,135

In [8]:
#  Remove rows that contain "Occupational Skill Level" adn Nan value (since these are summary rows)
df = df[~df['Occupational Skill Level'].str.contains('Occupational', na=True)]

In [9]:
df

,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0 - Management Occupations,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460"
4,A - Professionals,"4,121","3,385","3,947","5,423","4,856","6,134","10,641","8,393"
5,B - Skilled and Technical,"14,205","14,716","13,239","21,375","19,654","19,318","41,203","46,485"
6,C - Intermediate and Clerical,"14,667","15,402","17,873","18,568","15,594","17,539","22,966","25,603"
...,...,...,...,...,...,...,...,...,...
121,A - Professionals,7,2,8,1,0,5,0,2
122,B - Skilled and Technical,31,8,51,34,14,30,28,53
123,C - Intermediate and Clerical,87,16,33,23,7,7,8,19
124,D - Elemental and Labourers,3,0,8,2,1,1,3,8
125,Nunavut Total,130,27,104,60,23,43,41,82

In [10]:
#Create a new column for province/region name
df['province_region'] = df['Occupational Skill Level'].where(df['2016'].isna() & ~df['Occupational Skill Level'].str.contains('Total', na=False))
#  Forward-fill the region name for all rows until a new region is found
df['province_region'] = df['province_region'].ffill()
#  Remove rows that contain "Total" adn Nan value (since these are summary rows)
df = df[~df['Occupational Skill Level'].str.contains('Total', na=False)]

In [11]:
df.head(20)

,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023,province_region
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada
3,0 - Management Occupations,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460",Canada
4,A - Professionals,"4,121","3,385","3,947","5,423","4,856","6,134","10,641","8,393",Canada
5,B - Skilled and Technical,"14,205","14,716","13,239","21,375","19,654","19,318","41,203","46,485",Canada
6,C - Intermediate and Clerical,"14,667","15,402","17,873","18,568","15,594","17,539","22,966","25,603",Canada
7,D - Elemental and Labourers,652,620,591,"1,597","1,455","1,596","6,805","11,207",Canada
9,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Newfoundland and Labrador
12,0 - Management Occupations,67,34,14,9,16,22,10,13,Newfoundland and Labrador
13,A - Professionals,131,83,21,34,41,41,41,48,Newfoundland and Labrador
14,B - Skilled and Technical,813,715,220,225,328,249,353,261,Newfoundland and Labrador
15,C - Intermediate and Clerical,217,188,37,53,88,67,74,93,Newfoundland and Labrador
16,D - Elemental and Labourers,12,11,2,2,6,7,46,56,Newfoundland and Labrador
18,Prince Edward Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prince Edward Island
21,0 - Management Occupations,8,4,3,3,9,6,3,5,Prince Edward Island
22,A - Professionals,41,11,2,5,6,3,8,3,Prince Edward Island
23,B - Skilled and Technical,24,34,12,26,20,26,67,67,Prince Edward Island
24,C - Intermediate and Clerical,73,87,95,92,109,110,155,135,Prince Edward Island
25,D - Elemental and Labourers,8,4,2,3,2,7,30,41,Prince Edward Island
27,Nova Scotia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nova Scotia
30,0 - Management Occupations,52,59,42,40,47,42,54,53,Nova Scotia

In [12]:
df = df.dropna(how='any')

In [13]:
df.head(20)

,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023,province_region
3,0 - Management Occupations,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460",Canada
4,A - Professionals,"4,121","3,385","3,947","5,423","4,856","6,134","10,641","8,393",Canada
5,B - Skilled and Technical,"14,205","14,716","13,239","21,375","19,654","19,318","41,203","46,485",Canada
6,C - Intermediate and Clerical,"14,667","15,402","17,873","18,568","15,594","17,539","22,966","25,603",Canada
7,D - Elemental and Labourers,652,620,591,"1,597","1,455","1,596","6,805","11,207",Canada
12,0 - Management Occupations,67,34,14,9,16,22,10,13,Newfoundland and Labrador
13,A - Professionals,131,83,21,34,41,41,41,48,Newfoundland and Labrador
14,B - Skilled and Technical,813,715,220,225,328,249,353,261,Newfoundland and Labrador
15,C - Intermediate and Clerical,217,188,37,53,88,67,74,93,Newfoundland and Labrador
16,D - Elemental and Labourers,12,11,2,2,6,7,46,56,Newfoundland and Labrador
21,0 - Management Occupations,8,4,3,3,9,6,3,5,Prince Edward Island
22,A - Professionals,41,11,2,5,6,3,8,3,Prince Edward Island
23,B - Skilled and Technical,24,34,12,26,20,26,67,67,Prince Edward Island
24,C - Intermediate and Clerical,73,87,95,92,109,110,155,135,Prince Edward Island
25,D - Elemental and Labourers,8,4,2,3,2,7,30,41,Prince Edward Island
30,0 - Management Occupations,52,59,42,40,47,42,54,53,Nova Scotia
31,A - Professionals,118,68,62,58,53,112,152,90,Nova Scotia
32,B - Skilled and Technical,320,201,112,157,127,145,353,407,Nova Scotia
33,C - Intermediate and Clerical,195,222,228,218,234,276,352,377,Nova Scotia
34,D - Elemental and Labourers,15,20,12,15,26,39,94,228,Nova Scotia

In [14]:
#Create new columns for skill level  and Occupational code  seperatelly
df[['Skill Level','Occupation']] = df['Occupational Skill Level'].str.extract(r'(\w+) - (.*)')
# Drop the original column after splitting
df = df.drop(columns=['Occupational Skill Level'])

In [15]:
df.head(20)

,2016,2017,2018,2019,2020,2021,2022,2023,province_region,Skill Level,Occupation
3,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460",Canada,0,Management Occupations
4,"4,121","3,385","3,947","5,423","4,856","6,134","10,641","8,393",Canada,A,Professionals
5,"14,205","14,716","13,239","21,375","19,654","19,318","41,203","46,485",Canada,B,Skilled and Technical
6,"14,667","15,402","17,873","18,568","15,594","17,539","22,966","25,603",Canada,C,Intermediate and Clerical
7,652,620,591,"1,597","1,455","1,596","6,805","11,207",Canada,D,Elemental and Labourers
12,67,34,14,9,16,22,10,13,Newfoundland and Labrador,0,Management Occupations
13,131,83,21,34,41,41,41,48,Newfoundland and Labrador,A,Professionals
14,813,715,220,225,328,249,353,261,Newfoundland and Labrador,B,Skilled and Technical
15,217,188,37,53,88,67,74,93,Newfoundland and Labrador,C,Intermediate and Clerical
16,12,11,2,2,6,7,46,56,Newfoundland and Labrador,D,Elemental and Labourers
21,8,4,3,3,9,6,3,5,Prince Edward Island,0,Management Occupations
22,41,11,2,5,6,3,8,3,Prince Edward Island,A,Professionals
23,24,34,12,26,20,26,67,67,Prince Edward Island,B,Skilled and Technical
24,73,87,95,92,109,110,155,135,Prince Edward Island,C,Intermediate and Clerical
25,8,4,2,3,2,7,30,41,Prince Edward Island,D,Elemental and Labourers
30,52,59,42,40,47,42,54,53,Nova Scotia,0,Management Occupations
31,118,68,62,58,53,112,152,90,Nova Scotia,A,Professionals
32,320,201,112,157,127,145,353,407,Nova Scotia,B,Skilled and Technical
33,195,222,228,218,234,276,352,377,Nova Scotia,C,Intermediate and Clerical
34,15,20,12,15,26,39,94,228,Nova Scotia,D,Elemental and Labourers

In [16]:
# Define the desired column order
desired_order = ['province_region', 'Occupation','Skill Level', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
# Reorder the DataFrame using the desired column order
df = df[desired_order]

In [17]:
df

,province_region,Occupation,Skill Level,2016,2017,2018,2019,2020,2021,2022,2023
3,Canada,Management Occupations,0,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460"
4,Canada,Professionals,A,"4,121","3,385","3,947","5,423","4,856","6,134","10,641","8,393"
5,Canada,Skilled and Technical,B,"14,205","14,716","13,239","21,375","19,654","19,318","41,203","46,485"
6,Canada,Intermediate and Clerical,C,"14,667","15,402","17,873","18,568","15,594","17,539","22,966","25,603"
7,Canada,Elemental and Labourers,D,652,620,591,"1,597","1,455","1,596","6,805","11,207"
...,...,...,...,...,...,...,...,...,...,...,...
120,Nunavut,Management Occupations,0,2,1,4,0,1,0,2,0
121,Nunavut,Professionals,A,7,2,8,1,0,5,0,2
122,Nunavut,Skilled and Technical,B,31,8,51,34,14,30,28,53
123,Nunavut,Intermediate and Clerical,C,87,16,33,23,7,7,8,19
124,Nunavut,Elemental and Labourers,D,3,0,8,2,1,1,3,8

In [18]:
df = df.reset_index(drop=True)

In [19]:
df

,province_region,Occupation,Skill Level,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,Management Occupations,0,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460"
1,Canada,Professionals,A,"4,121","3,385","3,947","5,423","4,856","6,134","10,641","8,393"
2,Canada,Skilled and Technical,B,"14,205","14,716","13,239","21,375","19,654","19,318","41,203","46,485"
3,Canada,Intermediate and Clerical,C,"14,667","15,402","17,873","18,568","15,594","17,539","22,966","25,603"
4,Canada,Elemental and Labourers,D,652,620,591,"1,597","1,455","1,596","6,805","11,207"
...,...,...,...,...,...,...,...,...,...,...,...
65,Nunavut,Management Occupations,0,2,1,4,0,1,0,2,0
66,Nunavut,Professionals,A,7,2,8,1,0,5,0,2
67,Nunavut,Skilled and Technical,B,31,8,51,34,14,30,28,53
68,Nunavut,Intermediate and Clerical,C,87,16,33,23,7,7,8,19
69,Nunavut,Elemental and Labourers,D,3,0,8,2,1,1,3,8

In [20]:
#Define the dedicated folder path
folder_path = 'C:/Users/Johnn/Desktop/Data Engineer project/LMIA_evaluation_project/clean_data'
csv_file = os.path.join(folder_path, 'lmia_applications_by_noc_skill_level_prov.csv')

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)