In [1]:
import pandas as pd
import os

In [2]:
#import table 4 file
df = pd.read_csv(r'../raw_data/Table06_TFW_Positive_LMIAs_By_NAICS_Province_2016_2023.csv', encoding='ISO-8859-1')
df

,Number of temporary foreign worker (TFW) positions on positive Labour Market Impact Assessments (LMIAs) by North American Industry Classification System - 2002 (NAICS) and province/territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAICS Codes and Industry Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2016,2017,2018,2019,2020,2021,2022,2023
4,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
...,...,...,...,...,...,...,...,...,...
367,2. The sum of the subtotals of TFW positions m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,3. Each LMIA application submitted is restrict...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,"4. The LMIA System tracks TFW positions only, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,5. The numbers appearing in this release may d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,6. As of the publication of 2023 annual data (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.iloc[:-7]

In [4]:
df.head(20)

,Number of temporary foreign worker (TFW) positions on positive Labour Market Impact Assessments (LMIAs) by North American Industry Classification System - 2002 (NAICS) and province/territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAICS Codes and Industry Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2016,2017,2018,2019,2020,2021,2022,2023
4,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
5,21 Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015"
6,22 Utilities,143,121,89,45,53,63,58,176
7,23 Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360"
8,31-33 Manufacturing,"5,151","6,028","6,029","9,094","11,591","11,933","31,970","24,733"
9,Goods-Producing Industry Sectors - Total,"62,865","70,064","78,837","87,750","89,466","96,226","136,983","143,510"
10,41 Wholesale Trade,737,609,"1,461",691,"1,187","1,053","2,398","2,573"
11,44-45 Retail Trade,"1,953","2,176","1,804","2,936","2,784","2,603","6,566","8,906"
12,48-49 Transportation and Warehousing,"2,091","2,842","2,552","6,728","5,495","4,514","10,198","11,106"
13,51 Information and Cultural Industries,"3,397","2,187","1,617","1,916","1,103","1,114","2,354","1,890"
14,52 Finance and Insurance,185,157,148,184,247,219,473,718
15,"53 Real Estate, Rental and Leasing",162,121,58,157,179,170,530,739
16,"54 Professional, Scientific and Technical Serv...","2,620","2,370","3,285","4,729","4,358","5,803","10,696","8,524"
17,55 Management of Companies and Enterprises,93,75,21,29,19,18,59,66
18,"56 Administrative and Support, Waste Managemen...",821,874,905,"1,840","1,989","1,716","5,832","6,016"
19,61 Educational Services,573,538,516,633,736,660,"1,040","1,146"

In [5]:
#rename the 1st column
df.rename(columns={
    'Number of temporary foreign worker (TFW) positions on positive Labour Market Impact Assessments (LMIAs) by North American Industry Classification System - 2002 (NAICS) and province/territory': 'NAICS Codes and Industry Sectors',
    'Unnamed: 1' : '2016',
    'Unnamed: 2' : '2017',	
    'Unnamed: 3' : '2018',	
    'Unnamed: 4' : '2019',	
    'Unnamed: 5' : '2020',	
    'Unnamed: 6' : '2021',	
    'Unnamed: 7' : '2022',	
    'Unnamed: 8' : '2023'
    }, inplace= True)

C:\Users\Johnn\AppData\Local\Temp\ipykernel_3968\2055195492.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={

In [6]:
df.head(30)

,NAICS Codes and Industry Sectors,2016,2017,2018,2019,2020,2021,2022,2023
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAICS Codes and Industry Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2016,2017,2018,2019,2020,2021,2022,2023
4,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
5,21 Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015"
6,22 Utilities,143,121,89,45,53,63,58,176
7,23 Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360"
8,31-33 Manufacturing,"5,151","6,028","6,029","9,094","11,591","11,933","31,970","24,733"
9,Goods-Producing Industry Sectors - Total,"62,865","70,064","78,837","87,750","89,466","96,226","136,983","143,510"
10,41 Wholesale Trade,737,609,"1,461",691,"1,187","1,053","2,398","2,573"
11,44-45 Retail Trade,"1,953","2,176","1,804","2,936","2,784","2,603","6,566","8,906"
12,48-49 Transportation and Warehousing,"2,091","2,842","2,552","6,728","5,495","4,514","10,198","11,106"
13,51 Information and Cultural Industries,"3,397","2,187","1,617","1,916","1,103","1,114","2,354","1,890"
14,52 Finance and Insurance,185,157,148,184,247,219,473,718
15,"53 Real Estate, Rental and Leasing",162,121,58,157,179,170,530,739
16,"54 Professional, Scientific and Technical Serv...","2,620","2,370","3,285","4,729","4,358","5,803","10,696","8,524"
17,55 Management of Companies and Enterprises,93,75,21,29,19,18,59,66
18,"56 Administrative and Support, Waste Managemen...",821,874,905,"1,840","1,989","1,716","5,832","6,016"
19,61 Educational Services,573,538,516,633,736,660,"1,040","1,146"
20,62 Health Care and Social Assistance,732,661,785,"1,432","1,844","1,928","4,517","6,602"
21,"71 Arts, Entertainment and Recreation","1,153",932,995,992,333,452,"1,257","1,228"
22,72 Accommodation and Food Services,"5,805","6,695","6,480","11,803","10,152","10,432","31,635","36,786"
23,81 Other Services (except Public Administration),"6,968","7,717","9,384","8,526","5,228","6,201","8,060","9,483"
24,91 Public Administration,143,104,140,105,151,85,210,325
25,Services-Producing Industry Sectors - Total,"27,433","28,058","30,151","42,701","35,805","36,968","85,825","96,108"
26,Canada - Total,"90,314","98,146","108,988","130,457","125,279","133,196","222,847","239,646"
27,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NAICS Codes and Industry Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,2016,2017,2018,2019,2020,2021,2022,2023

In [7]:
df =df.dropna(how='all')
df = df[~df['NAICS Codes and Industry Sectors'].str.contains('NAICS', na=True)]

In [8]:
df

,NAICS Codes and Industry Sectors,2016,2017,2018,2019,2020,2021,2022,2023
1,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
5,21 Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015"
6,22 Utilities,143,121,89,45,53,63,58,176
7,23 Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360"
...,...,...,...,...,...,...,...,...,...
360,72 Accommodation and Food Services,0,0,2,6,3,1,35,0
361,81 Other Services (except Public Administration),5,6,3,2,2,2,1,0
362,91 Public Administration,0,0,0,0,0,0,0,0
363,Services-Producing Industry Sectors - Total,144,37,132,133,42,48,83,121
364,Nunavut - Total,145,41,132,133,46,63,88,122

In [9]:
#Create a new column for province/region name
df['Province_Region'] = df['NAICS Codes and Industry Sectors'].where(df['2016'].isna() & ~df['NAICS Codes and Industry Sectors'].str.contains('Total', na=False))
#  Forward-fill the region name for all rows until a new region is found
df['Province_Region'] = df['Province_Region'].ffill()
#  Remove rows that contain "Total" adn Nan value (since these are summary rows)
df = df[~df['NAICS Codes and Industry Sectors'].str.contains('Total', na=False)]

In [10]:
df

,NAICS Codes and Industry Sectors,2016,2017,2018,2019,2020,2021,2022,2023,Province_Region
1,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada
4,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226",Canada
5,21 Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015",Canada
6,22 Utilities,143,121,89,45,53,63,58,176,Canada
7,23 Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360",Canada
...,...,...,...,...,...,...,...,...,...,...
358,62 Health Care and Social Assistance,1,1,1,0,0,3,4,1,Nunavut
359,"71 Arts, Entertainment and Recreation",13,1,0,0,0,0,0,0,Nunavut
360,72 Accommodation and Food Services,0,0,2,6,3,1,35,0,Nunavut
361,81 Other Services (except Public Administration),5,6,3,2,2,2,1,0,Nunavut
362,91 Public Administration,0,0,0,0,0,0,0,0,Nunavut

In [11]:
#Drop rows where Nan value
df = df.dropna(how='any')

In [12]:
#  Remove rows that contain "Total" adn Nan value (since these are summary rows)
df = df[~df['NAICS Codes and Industry Sectors'].str.contains('Total', na=False)]

In [13]:
df

,NAICS Codes and Industry Sectors,2016,2017,2018,2019,2020,2021,2022,2023,Province_Region
4,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226",Canada
5,21 Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015",Canada
6,22 Utilities,143,121,89,45,53,63,58,176,Canada
7,23 Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360",Canada
8,31-33 Manufacturing,"5,151","6,028","6,029","9,094","11,591","11,933","31,970","24,733",Canada
...,...,...,...,...,...,...,...,...,...,...
358,62 Health Care and Social Assistance,1,1,1,0,0,3,4,1,Nunavut
359,"71 Arts, Entertainment and Recreation",13,1,0,0,0,0,0,0,Nunavut
360,72 Accommodation and Food Services,0,0,2,6,3,1,35,0,Nunavut
361,81 Other Services (except Public Administration),5,6,3,2,2,2,1,0,Nunavut
362,91 Public Administration,0,0,0,0,0,0,0,0,Nunavut

In [14]:
# Extract NAICS Codes (numbers) and Industry Sectors (words)
df["NAICS_Codes"] = df["NAICS Codes and Industry Sectors"].str.extract(r"^(\d+-?\d*)")
df["Industry_Sectors"] = df["NAICS Codes and Industry Sectors"].str.replace(r"^\d+-?\d*\s*", "", regex=True)

# Drop the original column (optional)
df = df.drop("NAICS Codes and Industry Sectors", axis=1)

In [15]:
df

,2016,2017,2018,2019,2020,2021,2022,2023,Province_Region,NAICS_Codes,Industry_Sectors
4,"53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226",Canada,11,"Agriculture, Forestry, Fishing and Hunting"
5,631,463,258,381,614,524,955,"1,015",Canada,21,Mining and Oil and Gas Extraction
6,143,121,89,45,53,63,58,176,Canada,22,Utilities
7,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360",Canada,23,Construction
8,"5,151","6,028","6,029","9,094","11,591","11,933","31,970","24,733",Canada,31-33,Manufacturing
...,...,...,...,...,...,...,...,...,...,...,...
358,1,1,1,0,0,3,4,1,Nunavut,62,Health Care and Social Assistance
359,13,1,0,0,0,0,0,0,Nunavut,71,"Arts, Entertainment and Recreation"
360,0,0,2,6,3,1,35,0,Nunavut,72,Accommodation and Food Services
361,5,6,3,2,2,2,1,0,Nunavut,81,Other Services (except Public Administration)
362,0,0,0,0,0,0,0,0,Nunavut,91,Public Administration

In [16]:
desired_order = ['Province_Region','NAICS_Codes','Industry_Sectors', '2016',	'2017',	'2018',	'2019','2020','2021','2022','2023']
df = df[desired_order]

In [17]:
df

,Province_Region,NAICS_Codes,Industry_Sectors,2016,2017,2018,2019,2020,2021,2022,2023
4,Canada,11,"Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
5,Canada,21,Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015"
6,Canada,22,Utilities,143,121,89,45,53,63,58,176
7,Canada,23,Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360"
8,Canada,31-33,Manufacturing,"5,151","6,028","6,029","9,094","11,591","11,933","31,970","24,733"
...,...,...,...,...,...,...,...,...,...,...,...
358,Nunavut,62,Health Care and Social Assistance,1,1,1,0,0,3,4,1
359,Nunavut,71,"Arts, Entertainment and Recreation",13,1,0,0,0,0,0,0
360,Nunavut,72,Accommodation and Food Services,0,0,2,6,3,1,35,0
361,Nunavut,81,Other Services (except Public Administration),5,6,3,2,2,2,1,0
362,Nunavut,91,Public Administration,0,0,0,0,0,0,0,0

In [18]:
df =df.reset_index(drop= True)

In [19]:
df

,Province_Region,NAICS_Codes,Industry_Sectors,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,11,"Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
1,Canada,21,Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015"
2,Canada,22,Utilities,143,121,89,45,53,63,58,176
3,Canada,23,Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360"
4,Canada,31-33,Manufacturing,"5,151","6,028","6,029","9,094","11,591","11,933","31,970","24,733"
...,...,...,...,...,...,...,...,...,...,...,...
275,Nunavut,62,Health Care and Social Assistance,1,1,1,0,0,3,4,1
276,Nunavut,71,"Arts, Entertainment and Recreation",13,1,0,0,0,0,0,0
277,Nunavut,72,Accommodation and Food Services,0,0,2,6,3,1,35,0
278,Nunavut,81,Other Services (except Public Administration),5,6,3,2,2,2,1,0
279,Nunavut,91,Public Administration,0,0,0,0,0,0,0,0

In [20]:
#Define the dedicated folder path
folder_path = 'C:/Users/Johnn/Desktop/Data Engineer project/LMIA_evaluation_project/clean_data'
csv_file = os.path.join(folder_path, 'lmia_tfw_positions_naics_prov.csv')

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)