In [1]:
import pandas as pd

In [2]:
#import table 2 file
df = pd.read_csv(r'../raw_data/Table02_TFW_Positive_LMIAs_By_CSD_Province_2016_2023.csv', encoding='ISO-8859-1', skiprows=1)

In [3]:
df.head()

,Province/Territory,CSD,2016,2017,2018,2019,2020,2021,2022,2023
0,Newfoundland and Labrador,1001126-Cape Broyle,0,0,0,0,0,0,0,50
1,NaN,1001136-Fermeuse,0,0,0,0,0,0,0,1
2,NaN,1001144-Aquaforte,0,0,0,0,0,0,10,21
3,NaN,1001178-St. Mary's,0,0,0,0,0,0,0,140
4,NaN,1001197-Mount Carmel-Mitchells Brook-St. Cathe...,0,12,6,0,0,0,0,0

In [4]:
df

,Province/Territory,CSD,2016,2017,2018,2019,2020,2021,2022,2023
0,Newfoundland and Labrador,1001126-Cape Broyle,0,0,0,0,0,0,0,50
1,NaN,1001136-Fermeuse,0,0,0,0,0,0,0,1
2,NaN,1001144-Aquaforte,0,0,0,0,0,0,10,21
3,NaN,1001178-St. Mary's,0,0,0,0,0,0,0,140
4,NaN,1001197-Mount Carmel-Mitchells Brook-St. Cathe...,0,12,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2606,2. As of the publication of 2023 annual data (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2607,3. CSD: area that is a municipality or an area...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2608,4. Each LMIA application submitted is restrict...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2609,"5. The LMIA System tracks TFW positions only, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2610,6. The numbers appearing in this release may d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df.iloc[:-8]

In [6]:
df

,Province/Territory,CSD,2016,2017,2018,2019,2020,2021,2022,2023
0,Newfoundland and Labrador,1001126-Cape Broyle,0,0,0,0,0,0,0,50
1,NaN,1001136-Fermeuse,0,0,0,0,0,0,0,1
2,NaN,1001144-Aquaforte,0,0,0,0,0,0,10,21
3,NaN,1001178-St. Mary's,0,0,0,0,0,0,0,140
4,NaN,1001197-Mount Carmel-Mitchells Brook-St. Cathe...,0,12,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2598,NaN,6208059-Kugluktuk,0,0,0,0,0,0,0,1
2599,NaN,6208073-Cambridge Bay,0,1,0,2,0,1,0,1
2600,NaN,6208081-Gjoa Haven,0,0,0,0,0,15,0,2
2601,NaN,Unspecified,124,25,0,0,0,0,4,6
2602,Total,NaN,145,41,132,133,46,63,88,122

In [7]:
# Remove rows where 'Province' is 'Total'
df = df[df['Province/Territory'] != 'Total'].reset_index(drop=True)

In [8]:
df

,Province/Territory,CSD,2016,2017,2018,2019,2020,2021,2022,2023
0,Newfoundland and Labrador,1001126-Cape Broyle,0,0,0,0,0,0,0,50
1,NaN,1001136-Fermeuse,0,0,0,0,0,0,0,1
2,NaN,1001144-Aquaforte,0,0,0,0,0,0,10,21
3,NaN,1001178-St. Mary's,0,0,0,0,0,0,0,140
4,NaN,1001197-Mount Carmel-Mitchells Brook-St. Cathe...,0,12,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2585,NaN,6205023-Baker Lake,1,0,0,1,0,0,0,0
2586,NaN,6208059-Kugluktuk,0,0,0,0,0,0,0,1
2587,NaN,6208073-Cambridge Bay,0,1,0,2,0,1,0,1
2588,NaN,6208081-Gjoa Haven,0,0,0,0,0,15,0,2
2589,NaN,Unspecified,124,25,0,0,0,0,4,6

In [9]:
df['Province/Territory'] = df['Province/Territory'].ffill()
df = df.rename(columns={
    'Province/Territory' : 'Province_Region'
})
df

,Province_Region,CSD,2016,2017,2018,2019,2020,2021,2022,2023
0,Newfoundland and Labrador,1001126-Cape Broyle,0,0,0,0,0,0,0,50
1,Newfoundland and Labrador,1001136-Fermeuse,0,0,0,0,0,0,0,1
2,Newfoundland and Labrador,1001144-Aquaforte,0,0,0,0,0,0,10,21
3,Newfoundland and Labrador,1001178-St. Mary's,0,0,0,0,0,0,0,140
4,Newfoundland and Labrador,1001197-Mount Carmel-Mitchells Brook-St. Cathe...,0,12,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2585,Nunavut,6205023-Baker Lake,1,0,0,1,0,0,0,0
2586,Nunavut,6208059-Kugluktuk,0,0,0,0,0,0,0,1
2587,Nunavut,6208073-Cambridge Bay,0,1,0,2,0,1,0,1
2588,Nunavut,6208081-Gjoa Haven,0,0,0,0,0,15,0,2
2589,Nunavut,Unspecified,124,25,0,0,0,0,4,6

In [10]:
df.sample(8)

,Province_Region,CSD,2016,2017,2018,2019,2020,2021,2022,2023
1078,Quebec,2483020-Lac-Sainte-Marie,0,0,0,0,0,0,0,11
863,Quebec,2456050-Saint-Sébastien,2,4,7,17,12,28,23,18
555,Quebec,2429073-Saint-Georges,35,50,79,125,163,99,412,307
281,New Brunswick,1311014-Wakefield,58,30,37,112,5,6,58,14
951,Quebec,2467010-Saint-Philippe,2,2,0,11,23,19,16,34
2376,British Columbia,5921023-Qualicum Beach,2,2,3,5,22,36,35,40
2572,Northwest Territories,6105003-Enterprise,0,0,0,0,0,0,1,0
65,Newfoundland and Labrador,1008061-Springdale,2,0,0,0,0,3,7,14

In [11]:
df[['CSD_Code', 'CSD_Name']] = df['CSD'].str.split('-', n=1, expand=True)
df = df.drop('CSD', axis=1)

In [12]:
df

,Province_Region,2016,2017,2018,2019,2020,2021,2022,2023,CSD_Code,CSD_Name
0,Newfoundland and Labrador,0,0,0,0,0,0,0,50,1001126,Cape Broyle
1,Newfoundland and Labrador,0,0,0,0,0,0,0,1,1001136,Fermeuse
2,Newfoundland and Labrador,0,0,0,0,0,0,10,21,1001144,Aquaforte
3,Newfoundland and Labrador,0,0,0,0,0,0,0,140,1001178,St. Mary's
4,Newfoundland and Labrador,0,12,6,0,0,0,0,0,1001197,Mount Carmel-Mitchells Brook-St. Catherine's
...,...,...,...,...,...,...,...,...,...,...,...
2585,Nunavut,1,0,0,1,0,0,0,0,6205023,Baker Lake
2586,Nunavut,0,0,0,0,0,0,0,1,6208059,Kugluktuk
2587,Nunavut,0,1,0,2,0,1,0,1,6208073,Cambridge Bay
2588,Nunavut,0,0,0,0,0,15,0,2,6208081,Gjoa Haven
2589,Nunavut,124,25,0,0,0,0,4,6,Unspecified,None

In [13]:
import os
#Define the dedicated folder path
folder_path = 'C:/Users/Johnn/Desktop/Data Engineer project/LMIA_evaluation_project/clean_data'
csv_file = os.path.join(folder_path, 'lmia_csd_province_2016_2023.csv')

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)